<%- include('../layouts/admheader.ejs') %>
<div class="flex justify-content-between flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2>Dashboard Admin</h2>
</div>
<%- include('../layouts/dosenfooter.ejs') %>