<!-- views/mahasiswa/dashboard.ejs -->
<%- include('../layouts/mhsheader.ejs') %>
<div class="container-fluid">
    <h2>Dashboard Mahasiswa</h2>
    <p>Selamat datang, <%= user.username %>!</p>
</div>
<%- include('../layouts/dosenfooter.ejs') %>
